@using Abc.Mvc.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">

    <h1 class="display-3">Merhaba @Session["UserId"]</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>

</div>

<div class="cantainer pb-5">

@Html.Partial("_ProductList", Model);

</div>






